@use "common";

.MainVisual {
  position: relative;
  transform: translateY(7.9rem);
  .Slider {
    position: relative;
    strong {
      position: absolute;
    }
  }

  // .slick-arrow {
  //   position: absolute;
  //   top: 50%;
  //   transform: translateY(-50%);
  // }
  // button {
  //   font-size: 0;
  //   border: 0;
  //   background: rgba(255, 255, 255, 0.5);
  //   width: 46px;
  //   height: 46px;
  //   border-radius: 50%;
  // }
  // .slick-prev {
  //   background: url(../../public/assets/img/sprite.png);
  //   background-position: -296px -99px;
  //   background-size: 474px 1500px;
  //   opacity: 0.8;
  //   left: 85px;
  // }
}
