@use "common";

.MainVisual {
  position: relative;
  transform: translateY(7.9rem);
  .itm {
    height: calc(90vh - 7.9rem);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &.itm01 {
      background-image: url(../../public/assets/img/main01.jpg);
    }
    &.itm02 {
      background-image: url(../../public/assets/img/main02.jpg);
    }
    &.itm03 {
      background-image: url(../../public/assets/img/main03.jpg);
    }
    .inner {
      position: absolute;
      bottom: 157px;
      color: #fff;
      strong {
        font-size: 36px;
        font-weight: 700px;
        line-height: 1.4;
        padding-bottom: 30px;
      }
      p {
        font-size: 15px;
        font-weight: 300px;
        line-height: 1.6;
      }
    }
  }

  .slick-arrow {
    position: absolute;
    bottom: 198px;
  }
  .slick-arrow {
    font-size: 0;
    border: 0;
    background: rgba(255, 255, 255, 0.5);
    width: 46px;
    height: 46px;
    border-radius: 50%;
    z-index: 999;
    &.slick-prev {
      left: 85px;
    }
    &.slick-next {
      right: 85px;
    }
  }
  .slick-dots {
    font-size: 0;

    li {
      display: inline-block;
    }
    button {
      // border: none;
      outline: none;
      background: rgba(255, 255, 255, 0.5);
    }

    // li {
    //   display: inline-block;
    //   margin: 0 0.5rem;

    //   button {
    //     width: 4rem;
    //     height: 0.4rem;
    //     background: common.$mainColor;
    //     font-size: 0;
    //     border: none;
    //     outline: none;
    //   }

    //   &.slick-active button {
    //     background: common.$wColor;
    //   }
    // }
  }
}
