@use "common";

.Service {
  position: relative;

  .contentSV {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    figure {
      position: relative;

      &:hover .title {
        bottom: 50px;
        transition: 0.5s;
      }
      &:hover img {
        -webkit-filter: brightness(50%);
        filter: brightness(50%);
      }

      .title {
        position: absolute;
        left: 50px;
        bottom: -45px;
        color: #fff;

        i {
          padding: 8px;
          font-size: 15px;
          border-radius: 50%;
          background-color: common.$mainColor;
          rotate: 45deg;
          margin-bottom: 20px;
        }

        h2 {
          font-weight: 700;
          font-size: 22px;
          padding-bottom: 10px;
        }

        h3 {
          font-weight: 500;
          font-size: 15px;
        }
      }
    }
  }
}
